

.row-cols-lg-4 {
	padding-left: 2rem;
	padding-bottom: 2rem;
}

.ptag {
	text-align: right;
	color:#26AB8A
}
h2 {
	text-align: center;
	padding: "30px" ;
	color: white;
}
h1 {
	text-align: center;
	
}
.bgcolor {
	background-color: #f7f7f7;
}
.heading {
	background-color: #1b2430;
	padding-top: 28px;
	padding-right: 50px;
	padding-left: 50px;
}

.thimbnailImg {
	padding: 5px;
	width: 30px;
}
  
.carouselListing{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.cardListing{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 100px;
	margin-left: 100px;
	padding-top: 25px;
  	padding-right: 30px;
  	padding-bottom: 20px;
  	padding-left: 30px;
}

.createListing{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 400px;
	margin-left: 400px;
	padding-top: 25px;
  	padding-right: 30px;
  	padding-bottom: 20px; 
  	padding-left: 30px;
}

.address{
	font-size: 25px;
}
 
.contactOwner {
  display: flex;
  justify-content: center;
  align-items: center;

}

.salerent {
	width: 60px;
}


.profileCard{
	padding-top: 25px;
  	
  	padding-bottom: 20px;
  	
}
.card{
	align-items: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.adCard {
	
	display: inline-block;
	width: 100%;
	height: 253px;
}

.profileImage {
	margin-top: 10px;
	display: inline-block;
	width: 120px;
	height: 120px;
	border-radius: 50%;
  
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
  }
  
.one {
	background-image: url('https://firebasestorage.googleapis.com/v0/b/rentpipe-d4b1c.appspot.com/o/pexels-photo-3760779.webp?alt=media&token=9aa10520-a85d-4f01-8647-75ba1fc2d0cd');
}

.profileBtnGrp {
	margin-bottom: 20px;
}

.myListingHeading{
	font-size:xx-large;
	font-weight: bold;
	text-align: center;
	margin-bottom: 40px;
}
.adHeading{
	font-size:xx-large;
	font-weight: bold;
	color: rgb(0, 0, 0);
	
	text-align: left;
	margin-bottom: 40px;
}



.adBody{
	align-items: center;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}