.plc{
    margin-bottom: 150px;
}
.posE{
    /* margin-bottom: "190px"; */
    box-shadow: "5px 6px 6px 2px #e9ecef" !important;
    border-radius: 20 !important;
    background-color: #6ECEBC !important;
    font-weight: "bold" !important;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 210px !important;
}
.a12{
    color: #005fdf;
}
.e1{
    margin-bottom: 120px !important;
}